#featured-cat {
  .featured-cat-sec {
    .section-title {
      font-size: 35px;
      text-align:left;
    }
  }
  .item {
    .post-cats {
      float:right;
      .cat-filter {
        padding: 10px 20px;
      }
    }
  }
  .featured-thumb {
    .tab-pane {
      overflow: auto;
    }
  }
}